GEMINI_API_KEY=your-GEMINI_API_KEY

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your-postgres-password
DB_NAME=your-db-name

HF_TOKEN=your-hf-embedding-model-token

# App
FRONTEND_URL=http://localhost:3000
DOCS_FOLDER=data/documents

# Embedding
EMBEDDING_MODEL=intfloat/multilingual-e5-large

# Chunking
CHUNK_SIZE=900
CHUNK_OVERLAP=200

# Retrieval
TOP_K=5
SIMILARITY_THRESHOLD=0.7

# Gemini
GEMINI_MODEL=gemini-3-flash-preview
